* {
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
}

.header {

  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.card {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  gap: 30px;
  margin-bottom: 50px;
  align-items: stretch;
  ;

}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.image {
  width: 600px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;

}

.title {
  font-weight: 700;
}

@media screen and (max-width: 768px) {

  .header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .card {
    flex-direction: row;
    margin: 0 15px;
    gap: 10px;
    padding-right: 25px;
  }


  .image {
    width: 40%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .card-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }
}